{% extends "base.html" %}

{% block content %}

{% set sections = [
    get_section(path="essays/_index.md"),
    get_section(path="misc/_index.md"),
    get_section(path="se/_index.md"),
    get_section(path="reading/_index.md"),
] %}

{% set_global all_posts = [] %}

{# Собираем все посты из всех секций #}
{% for section in sections %}
    {% set_global all_posts = all_posts | concat(with=section.pages) %}
{% endfor %}

{# Сортируем по дате — новые сверху #}
{% set_global all_posts = all_posts | sort(attribute="date") | reverse %}

<div class="post-list">
    <h1 class="title">Все посты</h1>

    <ul>
    {% for post in all_posts %}
    <li>
    <article class="post-card">
        <a href="{{ post.permalink }}">
            <h2>{{ post.title }}</h2>
        </a>
        <small>{{ post.date | date(format="%Y-%m-%d") }}</small>
        <br />

        {% if post.summary %}{{ post.summary }}{% endif %}

        {% if post.taxonomies.tags %}
        <p>Tags:
            {% for tag in post.taxonomies.tags %}
                <a href="{{ config.base_url }}/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </article>
    </li>    
    {% endfor %}
    </ul>
</div>
{% endblock content %}
