{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Mind Debug</h1>
    <p class="tagline">
        "Самое лучшее оружие у вас между ушей под скальпом. Разумеется, если оно заряжено" — Р. Хайнлайн.
    </p>

    <p class="meta">
        Здесь заряжаем ваше оружие.💡
        <br />
        Преимущественно об IT, программной инженерии, практиках, процессах.
        И обо всём, что заставляет мозг шевелиться.
    </p>
    <p class="meta">Добро пожаловать!</p>
</div>

<div class="posts-section">
    <div class="section-header">
        <h2>Последние записи</h2>
    </div>

    <div class="post-list">
        {% set sections = [
        get_section(path="essays/_index.md"),
        get_section(path="misc/_index.md"),
        get_section(path="se/_index.md"),
        get_section(path="reading/_index.md"),
        ] %}

        {% set_global all_posts = [] %}

        {# Собираем все посты из всех секций #}
        {% for section in sections %}
        {% set_global all_posts = all_posts | concat(with=section.pages) %}
        {% endfor %}

        {# Сортируем по дате — новые сверху #}
        {% set_global all_posts = all_posts | sort(attribute="date") | reverse %}

        {% for page in all_posts %}
        <article class="post-card">
            <h3 class="title">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h3>

            {% if page.description %}
            <p class="excerpt">{{ page.description }}</p>
            {% elif page.summary %}
            <p class="excerpt">{{ page.summary | safe }}</p>
            {% endif %}

            <div class="meta">
                <time datetime="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time>
                {% if post.taxonomies.tags %}
        <span class="tags">Tags:
            {% for tag in post.taxonomies.tags %}
                <a href="{{ config.base_url }}/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>

    {% if paginator %}
    <div class="pagination">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}" class="prev">← Новее</a>
        {% endif %}
        {% if paginator.next %}
        <a href="{{ paginator.next }}" class="next">Старее →</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock content %}